# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: [main, dev, add_header]
  pull_request:
    branches: [main, dev, add_header]

name: R-CMD-check

jobs:
  R-CMD-check:
    if: "! contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: macos-latest,   r: 'release'}
          - {os: windows-latest, r: 'release'}
          # - {os: ubuntu-latest,   r: 'devel', http-user-agent: 'release'}
          - {os: ubuntu-latest,   r: 'release'}
          # - {os: ubuntu-latest,   r: 'oldrel-1'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - name: Install dependencies Ubuntu
        if: runner.os == 'Linux'
        run: |
          install.packages('remotes')
          remotes::install_deps(dependencies = TRUE)
          remotes::install_cran("knitr")
          remotes::install_cran("rmarkdown")
          remotes::install_cran("rcmdcheck")
          install.packages("Matrix", type = "source")
          install.packages("TMB", type = "source")
        shell: Rscript {0}

      - name: Install dependencies macOS
        if: runner.os == 'macOS'
        run: |
          remotes::install_deps(dependencies = TRUE)
          remotes::install_cran("rcmdcheck")
          install.packages("Matrix", type = "source")
          install.packages("TMB", type = "source")
        shell: Rscript {0}

      - name: Install dependencies Windows
        if: runner.os == 'Windows'
        run: |
          remotes::install_deps(dependencies = TRUE)
          remotes::install_cran("knitr")
          remotes::install_cran("rmarkdown")
          remotes::install_cran("rcmdcheck")
          install.packages("Matrix", type = "source")
          install.packages("TMB", type = "source")
        shell: Rscript {0}

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check

      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
          args: 'c("--no-manual", "--as-cran", "--ignore-vignettes", "--no-build-vignettes")'
          build_args: 'c("--no-manual", "--no-build-vignettes")'
